.wapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .wapper-content {
        margin-right: 20px;
        padding-right: 20px;
        width: 40%;

        .app-name {
            text-align: center;
            font-size: 30px;
            color: #4176cb;
            font-weight: 500;

            a {
                color: #4176cb;
            }
        }

        .header {
            margin: 20px 0px;
            text-align: center;
            font-size: 25px;
            font-weight: 500;
        }

        .navigation-login {
            float: right;

            a {
                color: blue;
            }
        }

        .btn-form {
            background-color: #4176cb;
        }
    }

    .image {
        padding-top: 50px;
    }
}
