.wrapper {
    display: flex;
    align-items: center;
    padding: 8px 0 8px 30px;

    &:hover {
        cursor: pointer;
        background-color: rgba($color: #e9e9e9, $alpha: 0.3);
    }

    &.active {
        background-color: rgba($color: #e9e9e9, $alpha: 0.3);
    }
}

// .wrapper + .wrapper {
//     margin-top: 16px;
// }

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 100rem;
    object-fit: cover;
}

.wrapper-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 10px;
}

.username {
    font-weight: bold;
    font-size: 20px;
}

.status {
    color: #aaea2b;

    &.offline {
        color: #ff8f9b;
    }
}
